@keyframes ldio-agdg5jkt1s {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-agdg5jkt1s div {
  box-sizing: border-box !important;
}
.ldio-agdg5jkt1s > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #31419f transparent #31419f transparent;
  animation: ldio-agdg5jkt1s 1s linear infinite;
}
.ldio-agdg5jkt1s > div:nth-child(2) {
  border-color: transparent;
}
.ldio-agdg5jkt1s > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-agdg5jkt1s > div:nth-child(2) div:before,
.ldio-agdg5jkt1s > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #31419f;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #31419f;
}
.ldio-agdg5jkt1s > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #31419f;
}
.loadingio-spinner-dual-ring-3tyo5wn15cf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #a8dadc;
}
.ldio-agdg5jkt1s {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-agdg5jkt1s div {
  box-sizing: content-box;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
