.form_user {
  display: flex;
}

.form_pass {
  display: flex;
}

.form_password {
  position: relative;
  left: -7px;
  
}

.form_username,
.form_password {
  position: relative;
  top: -7px;
  border:1px solid;
  border-radius: 1px;
}

.form_info {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  top: 7rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* width: 12rem; */
}

.form_btn {
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}
