.nav {
  position: relative;
  right: 1em;
  top: 6.5px;
  margin-bottom: 2em;
}

a.navLink {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
  margin-top: 5px;
  padding: 0.5em;
}

/* a.navLink:focus {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0 0 1px 0 solid black;
  padding: 0.5em;
} */

a.navLink:hover {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0 0 1px 0 solid black;
  padding: 0.5em;
}
